project/.idea/**/workspace.xml
project/.idea/**/tasks.xml
project/.idea/**/usage.statistics.xml
project/.idea/**/dictionaries
project/.idea/**/shelf
project/.idea/**/contentModel.xml
project/.idea/**/dataSources/
project/.idea/**/dataSources.ids
project/.idea/**/dataSources.local.xml
project/.idea/**/sqlDataSources.xml
project/.idea/**/dynamic.xml
project/.idea/**/uiDesigner.xml
project/.idea/**/dbnavigator.xml
project/.idea/**/gradle.xml
project/.idea/**/libraries
project/out/